<ion-header>
  <ion-navbar>
    <ion-title>Weekly Forecast</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Weather App</h1>
  <form id="zip-form" [formGroup]="zipForm" (ngSubmit)="onSubmit(zipForm.value)">
    <ion-item>
      <ion-label floating>
        Zipcode
      </ion-label>
      <ion-input [formControl]="zipForm.controls['zipcode']" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col text-center>
      </ion-col>
        <button type="submit" ion-button block color="secondary">
          Submit
        </button>
    </ion-row>
  </form>
  <p text-center>or</p>
  <button (click)="this.locateMe()" ion-button block color="primary">
    Locate
  </button>
  <ion-grid class="weather-grid" text-center *ngIf="this.dataResolved">
    <ion-row>
      <ion-col *ngFor="let item of forecastArray">
        <ion-card class="weather-card">
          <ion-card-header>
            {{item.day}}
          </ion-card-header>
          <img src={{item.conditions.icon}} />
          <p>{{item.conditions.name}}</p>
          <p>Currently: {{item.avgTemp}}&deg;F</p>
          <p>Low: {{item.low}}&deg;F  High: {{item.high}}&deg;F</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
